/*
Theme Name: Paroti Child
Theme URI: https://gaviaspreview.com/wp/paroti/
Author URI: https://themeforest.net/user/gavias
Author: Gaviasthemes Team
Description: Child theme for the Paroti theme.
Template: paroti
*/